{% set aufmacherBild = entry.fArticleImgI18n.one() %}


<div class="articleHeadImg"><img src="{{ aufmacherBild.url }}" width="300" alt="" title="{{ aufmacherBild.title }}"></div>

<div class="articleHeadTitle gridArticle">

	<p class="gridStart2 gridSpan10">{{ entry.postDate.format('j. F Y') }}</p>
	<h1 class="gridStart2 gridSpan10">{{ entry.title }}</h1>

	{% include "_components/articleHeadAuthors" %}
	{% include "_components/articleHeadCat" %}

	{# Lead Text #}
	<h3 class="gridStart2 gridSpan10">{{ entry.fPlainTextI18nMultiline }}</h3>

</div>
