{% import '_macros/macroImage' as macroImg %}
{% import '_macros/macroCatOverview' as macroCat %}

{% set articleGenre = entry.fCatGenre %}
{% set articleSubject = entry.fCatSubject %}
{% set aufmacherBild = entry.fArticleImgI18n.one() %}
{% set headerGridClasses = 'gridSpan12' %}

<div class="articleHeadImg">
	{{ macroImg.articleImage(aufmacherBild, 'articleStarterImg', 'imgHeader') }}
</div>

<div class="articleHeadTitle gridArticle">

	<h1 class="{{ headerGridClasses }}">{{ entry.title }}</h1>

	{% include "_components/articleHeadAuthors" %}
	<p class="{{ headerGridClasses }}">
		{{ entry.postDate | date('j. F Y') }}
	</p>

	{% include "_components/articleSunset" %}
	
	<p class="{{ headerGridClasses }}">
		{{ macroCat.catOverview(articleGenre, 'genre', true) }}
    	{{ macroCat.catOverview(articleSubject, 'subject', true) }}
	</p>

	{# Lead Text #}
	{% if entry.fPlainTextI18nMultiline %}
		<h3 class="{{ headerGridClasses }}">{{ entry.fPlainTextI18nMultiline }}</h3>
	{% endif %}
	

</div>
