{% import '_macros/macroGridClasses' as macro %}

{# Call the matrix article set #}
{% set articleMatrix = entry.fMxArticleBlocks.all() %}

{# loop trough all blocks #}
{% for block in articleMatrix %}

		{# check if there is a number set for grid placement. #}
		{% set gridStart = block.fGridStart ?? null %}
    	{% set gridSpan = block.fGridSpan ?? null %}
		{% set vertPos = block.fVertPos.value ?? null %}

{# switch trough all blocks. actual block code in partials #}
	{% switch block.type %}


		{% case "tSubtitle" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellSubtitle">{% include "_components/cellSubtitle" %}</div>
		{% case "tBox" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellBox">{% include "_components/cellBox" %}</div>
		{% case "tTxtI18n" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellRichText">{% include "_components/cellRichText" %}</div>
		{% case "tQuote" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellQuote">{% include "_components/cellQuote" %}</div>
		{% case "tArticleImg" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellImg">{% include "_components/cellImg" %}</div>
		{% case "tArticleImgGallery" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellImgGallery">{% include "_components/cellImgGallery" %}</div>
		{% case "tRelEntry" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellRelEntry">{% include "_components/cellRelEntry" %}</div>
		{% case "tMap" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellMap">{% include "_components/cellMap" %}</div>
		{% case "tDownload" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellDownload">{% include "_components/cellDownload" %}</div>
	{% endswitch %}

	

{% endfor %}