{% import '_macros/macroDropdown' as dropMacro %}

{# This is the site navigation for the header #}
{# It uses the macro to print out the category overview link #}
{# The two categories are fetched with only url and title #}


{% set navSubject = craft.categories.group('catSubject')
	.with(['title','url'])
	.relatedTo({ sourceElement: craft.entries.section('article') })
	.all() %}

{% set navGenre = craft.categories.group('catGenre')
	.with(['title','url'])
	.relatedTo({ sourceElement: craft.entries.section('article') })
	.all() %}


	<nav aria-label="{{'Main navigation'|t}}"> <ul>
		<li>
			<a href="/" aria-label="{{ 'Home' | t }}">
				<span class="hideOnMobile">{{ 'Home' | t }}</span>
				<span class="hideOnDesktop"><img src="https://placehold.co/30x30" alt=""></span>
			</a>
		</li>
		{{ dropMacro.dropdown(navSubject, labelSubject) }}
		{{ dropMacro.dropdown(navGenre, labelGenre) }}
        {% include "_components/navLangSwitcher.twig" %}
	</ul>
</nav>

{% include "_components/jsDropdown.twig" %}