{% set level = block.fHLevel %}
{% set anchorID = "subtitle-" ~ block.title | ascii | kebab %}
   
<{{ level }} id="{{ anchorID }}">
    {{ block.title }} <a class="anchor" href="#{{ anchorID }}">#</a> 
</{{ level }}>