{% import '_macros/macroImage' as macro %}

{% set image = block.fArticleImgI18n.all() %}



{% for asset in image %}
    <figure class="articleImg">
        {{ macro.articleImage(asset, 'articleImage', 'imgArticle') }}
        <figcaption>
            {% if block.fPlainTextI18nMultiline %}
                <p class="caption">{{ block.fPlainTextI18nMultiline }}</p>
            {% endif %}
            <p class="assetSource">
                {{ asset.fPlainTxt }}
                {% if asset.fTagProvider.one() %}, {{ asset.fTagProvider.one() }}{% endif %}
                {% if asset.imgLicence %} – {{ asset.imgLicence }}{% endif %}
            </p>
        </figcaption>
    </figure>
{% endfor %}