{% import '_macros/macroImage' as imgMacro %}
{% import '_macros/macroGridClasses' as layoutMacro %}

{% set imgGallery = block.fMxImgGallery.all() %}


{% for item in imgGallery %}

    {% set gridImgStart = item.fGridStartWide ?? null %}
    {% set gridImgSpan = item.fGridSpanWide ?? null %}

        {% for asset in item.fArticleImgI18n.all() %}
            <figure class="articleImg {{ layoutMacro.gridClasses(gridImgStart, gridImgSpan) }}">
                {{ imgMacro.articleImage(asset, 'articleImage') }}
                <figcaption>
                    <p class="assetSource">{{ asset.fPlainTxt }}{{ ', ' ~ asset.fTagProvider.one() }} {{ ' - ' ~ asset.imgLicence }}</p>
                    {% if item.fPlainTextI18nMultiline %}
                        <p class="caption">{{ item.fPlainTextI18nMultiline }}</p>
                    {% endif %}
                </figcaption>
            </figure>
        {% endfor %}
{% endfor %}