{% set downloadAsset = block.fFile.all() %}


<ul>
	{% for item in downloadAsset %}

		{% set subLine = item.extension ~ ', ' ~ (item.size / 1000) | number_format(0, '.', ',') ~ ' KB' %}

			<li>
				<a href="{{ item.url }}" class="downloadLink" title="{{ 'Download' | t }} {{ item.extension }}: {{ item.title }}" target="_blank">
					<span class="linkLabel downloadTitle">
						{{ item.title }}
						<span class="subLine">(.{{ subLine }})</span>
					</span>
					<span class="linkIcon downloadIcon">{{ svg('@webroot/theme/img/icon-file.svg')|raw }} </span>
				</a>
			</li>
	{% endfor %}
</ul>
