{% extends "_layouts/main" %}

{% block content %}

	{% set allEntries = craft.entries()
        .section('article')
        .with(['fCatGenre', 'fCatSubject'])
        .limit(null)
        .all()
    %}



	<div class="listingGrid" id="articleList">
        {% include "_components/header/headerBrand" %}
		<input class="search gridSpan12" placeholder="Search"/>

		<ul class="articleTable gridSpan12 list">
			{% for item in allEntries %}
                {% if loop.first %}
                    <li class="item gridSpan12">
                        <p>{{ 'Veröffentlichung' }}e</p>
                        <p>Id</p>
                        <p>{{ 'Title' | t }}</p>
                        <p>{{ labelGenre}}</p>
                        <p>{{ labelSubject }}</p>
                    </li>
                {% endif %}
                
				<li class="item gridSpan12">
					<div class="postDate">{{ item.postDate|date('Y-m-d') }}</div>
                    <div class="articleId">{{ item.id }}</div>
					<div class="title">
						<a href="{{ item.url }}">{{ item.title }}</a>
					</div>
					<div class="genre">
						{% for cat in item.fCatGenre.all() %}
							<a href="{{ cat.url }}">{{ cat.title }}</a>
							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</div>
					<div class="subject">
						{% for cat in item.fCatSubject.all() %}
							<a href="{{ cat.url }}">{{ cat.title }}</a>
							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>


	 <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.0.2/list.min.js"></script>

	 {% js %}
        document.addEventListener('DOMContentLoaded', function () {
            const options = {
                valueNames: ['postDate', 'title', 'genre', 'subject', 'articleId']
            };
            const articleList = new List('articleList', options);
        });
    {% endjs %}



{% endblock %}
