{% extends "_layout" %}



{% block content %}
    {% set allEntries = craft.entries.section('artikel').all() %}
    {% set catGenre = craft.categories.group('genre').all() %}
    {% set catSubject = craft.categories.group('subject').all() %}

    <h1>{{ entry.title }}</h1>

    {# Display All Subject Category in Use. Unassigned Items will not be displayed #}
    {% for category in catSubject %}
        {% set entries = craft.entries.relatedTo(category).all() %}
        {% if loop.first %}
           <h2>{{ category.group.name }}</h2>
        {% endif %}
        {% if entries|length > 0 %}
            <a href="{{ category.url }}">{{ category.title }}</a>
        {% endif %}
    {% endfor %}

    {# Display All Subject Category in Use. Unassigned Items will not be displayed #}
    {% for category in catGenre %}
        {% set entries = craft.entries.relatedTo(category).all() %}
        {% if loop.first %}
           <h2>{{ category.group.name }}</h2>
        {% endif %}
        {% if entries|length > 0 %}
            <a href="{{ category.url }}">{{ category.title }}</a>
        {% endif %}
    {% endfor %}

    <h2>Artikel</h2>
    <ul>
        
        {% for item in allEntries %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}