{% extends "_layouts/main" %}

{% import '_components/previewCards/macroArticlePreviewXL' as macroPreviewXL %}
{% import '_components/previewCards/macroArticlePreviewL' as macroPreviewL %}
{% import '_components/previewCards/macroArticlePreviewS' as macroPreviewS %}
{% import '_macros/macroCatOverview' as macroCat %}

{% block content %}

{% set catGenre = craft.categories.group('catGenre').all() %}
	{% set catSubject = craft.categories.group('catSubject').all() %}

	{% set allEntries = craft.entries()
		.section('article')
		.with(['fCatGenre', 'fCatSubject'])
		.limit(null)
		.all()
	%}

	<div class="listingGrid">
		{% include "_components/listingHeader.twig" %}
		<section class="headliner">
			{% set headliner = allEntries | first %}
			{{ macroPreviewXL.listMacro(headliner,'gridStart1 gridSpan12') }}
		</section>
		<section class="teaser">
			{% for item in allEntries | slice(1, 3) %}
				{{ macroPreviewS.listMacro(item,'gridSpan4') }}
			{% endfor %}
		</section>
		<section class="latest">
			{% for item in allEntries | slice(4,2) %}
				{{ macroPreviewL.listMacro(item,'gridSpan6') }}
			{% endfor %}
		</section>
		<aside class="gridSpanAll topicList">
			<h2 class="topicTitle">{{ labelGenre }} & {{ labelSubject }}</h2>
			<p class="topicLead">Hier werden alle Möglichen {{ labelGenre }} & {{ labelSubject }} angezeigt. Auch die, welche noch keine Einträge haben. Später dann nur die, welche eintraäge haben.</p>
			<div class="tags">
				{{ macroCat.catOverview(catGenre, 'genre', true) }}
				{{ macroCat.catOverview(catSubject, 'subject', true) }}
			</div>
		</aside>
		<section class="latest">
			{% for item in allEntries | slice(6) %}
				{{ macroPreviewL.listMacro(item,'gridSpan6') }}
			{% endfor %}
		</section>
	</div>

{% endblock %}
