{% extends "_layouts/main" %}
{% import '_macros/macroImage' as macro %}
{% import '_macros/macroAuthorField' as macro %}
{% import '_macros/macroPostDate' as macroPostDate %}

{% block content %}

    {# get all relevant authors #}
	{% set authorPosts = craft.users.group(['espacesuisse']).status('active').all() %}

    {# construct the language url segment becuse users have no urls functionality #}
	{% set baseSegment = { 'de-CH': 'autoren', 'fr-CH': 'auteurs' }[craft.app.language] %}

	<header class="pageHead subPageHead">
		{% include "_components/header/headerBrand" %}
		{% include "_components/header/headerPage" %}
	</header>
    <article class="listingGrid">
        {% for author in authorPosts %}

            {# cconstruct the link to the authors page with all his written articles #}
            {% set authorPostPage = craft.entries.section('article').authorId(author.id).limit(1).one() %}

            {# print a limited amount of articles as preview #}
            {% set relArticles = craft.entries.section('article').authorId(author.id).limit(3).all() %}

            {# construct the author slug. unfortunately umlauts are unavoidable right now #}
            {% set authorSlug = author.username %}

            
            {% if authorPostPage %}
                <div class="authorCard gridSpan12 gridLgSpan4 previewCard">

                    {# render author photo #}
                    <div class="imgPart gridSpan12 gridSmSpan4">
                        {% if author.photo %}
                            <img src="{{ author.photo.url }}" alt="{{ author.name }}" class="authorPhoto">
                        {% endif %}
                    </div>
                    <div class="textPart gridSpan12 gridSmSpan8">
                        <h2 class="authorName">{{ author.name }}</h2>
                        <p class="authorTaxonomy">
                            {% if craft.app.language == 'de-CH' %}
                                {{ macro.authorI18nField(author.fPlainTextI18n, author.fPlainTextI18n4) }}
                            {% else %}
                                {{ macro.authorI18nField(author.fPlainTextI18n2, author.fPlainTextI18n3) }}
                            {% endif %}
                        </p>

                        {# print the related author articles #}
                        <ul class="relatedPosts">
                            {% for item in relArticles %}
                                <li>
                                <a href="{{ item.url }}">
                                    {{ macroPostDate.postDate(entry.postDate, false) }}
                                    {{ item.title }}
                                </a>
                                </li>
                            {% endfor %}
                        </ul>
                    
                    {# render link to author post page #}
                    <a href="{{ url(baseSegment ~ '/' ~ authorSlug) }}" class="allPosts btn btnSmall">{{ 'Alle Artikel von' | t ~ ' ' }}{{ author.name }}{{ ' ' ~ 'anzeigen' | t }}</a>
                </div></div>
            {% endif %}
        {% endfor %}
    </article>

{% endblock %}
