{% extends "_layouts/main" %}

{% block content %}

	{% set passwordResetDe = 'https://www.espacesuisse.ch/de/user/password' %}
	{% set passwordResetFr = 'https://www.espacesuisse.ch/fr/user/password' %}

	{% set signUpDe = 'https://www.espacesuisse.ch/de/verband/mitglieder' %}
	{% set signUpFr = 'https://www.espacesuisse.ch/fr/association/membres' %}

	{% set buttonCSS = 'btn btnSmall btnNeutral' %}
	{% set labelPwForgotten = 'Passwort vergessen?' | t %}
	{% set labelMemberSignup = 'Mitglied werden' | t %}

	<header class="pageHead subPageHead">
		{% include "_components/header/headerBrand" %}
		{% include "_components/header/headerPage" %}
	</header>

	<article class="gridArticle memberLogin">
		
		<div class="gridSpan12">
			<div class="elementPanel">{% include "_components/formMemberLogin" %}
			</div>
		</div>
		

		<div class="gridSpan12 gridMdSpan10 gridMdStart2 btnGroup loginLinks">
			{% if craft.app.language == 'de-CH' %}
				<a href="{{ passwordResetDe }}" class="{{ buttonCSS }}">{{ labelPwForgotten }}</a>
				<a href="{{ signUpDe }}" class="{{ buttonCSS }}">{{ labelMemberSignup }}</a>
			{% else %}
				<a href="{{ passwordResetFr }}" class="{{ buttonCSS }}">{{ labelPwForgotten }}</a>
				<a href="{{ signUpFr }}" class="{{ buttonCSS }}">{{ labelMemberSignup }}</a>
			{% endif %}
		</div>

		

	</article>

	<article class="gridArticle articleContent">
		{% include "_components/articleMatrix" %}
	</article>


{% endblock %}
