{% extends "_layouts/main" %}

{% block content %}

	{% set passwordResetDe = 'https://www.espacesuisse.ch/de/user/password' %}
	{% set passwordResetFr = 'https://www.espacesuisse.ch/fr/user/password' %}

	{% set signUpDe = 'https://www.espacesuisse.ch/de/verband/mitglieder' %}
	{% set signUpFr = 'https://www.espacesuisse.ch/fr/association/membres' %}

	<header class="pageHead subPageHead">
		{% include "_components/header/headerBrand" %}
		{% include "_components/header/headerPage" %}
	</header>

	<article class="gridArticle memberLogin">
		
		<div class="gridSpan12">
			<div class="elementPanel">{% include "_components/formMemberLogin" %}
			</div>
		</div>
		

		<div class="gridSpan12 gridMdSpan10 gridMdStart2 loginLinks">
			{% if craft.app.language == 'de-CH' %}
				<p><a href="{{ passwordResetDe }}">{{ 'Passwort vergessen?' | t }}</a>
				<a href="{{ signUpDe }}">{{ 'Mitglied werden' | t }}</a></p>
			{% else %}
				<p><a href="{{ passwordResetFr }}">{{ 'Passwort vergessen?' | t }}</a>
				<a href="{{ signUpFr }}">{{ 'Mitglied werden' | t }}</a></p>
			{% endif %}
		</div>

		

	</article>

	<article class="gridArticle articleContent">
		{% include "_components/articleMatrix" %}
	</article>


{% endblock %}
