{% import '_macros/macroImage' as macroImg %}
{% import '_macros/macroCatOverview' as macroCat %}
{% import '_macros/macroPostDate' as macroPostDate %}
{% import '_macros/macroFigCaption' as figCaption %}
{% import '_macros/macroAuthorArticle' as writers %}



{% set smallerGrid = 'gridSpan10 gridStart2' %}
{%- set authorQuery = entry.authors -%}

{% if aufmacherBild %}

	<figure class="articleHeadImg">
		{{ macroImg.articleImage(aufmacherBild, 'articleStarterImg', 'imgHeader') }}
	</figure>

{% endif %}

<div class="headerCard articleHeadTitleCard gridArticle headerSection{{ entry.section.handle | capitalize }}">
	<div class="headCardGrid">

		<div class="{{ smallerGrid }} headMeta">
			{{ macroPostDate.postDate(entry.postDate, true) }}
			{% include "_components/articleSunsetMsg" %}
		</div>

		<h1 class="{{ smallerGrid }} topicTitle">{{ entry.title }}</h1>
		
		{% if entry.fPlainTextI18nMultiline %}
			<h3 class="{{ smallerGrid }} topicLead">{{ entry.fPlainTextI18nMultiline }}</h3>
		{% endif %}
		<div class="{{ smallerGrid }}  headMetaFooter">
			<p class="tags">
				{{ macroCat.catOverview(articleGenre, 'genre', entry.section, siteBrand.fColor) }}
				{{ macroCat.catOverview(articleSubject, 'subject', entry.section, siteBrand.fColor2) }}
			</p>
			<ul class="articleAuthors gridStart2 gridSpan10">
				{%- for item in authorQuery -%}
					{{ writers.authorArticle(item, true) }}
				{%- endfor -%}
			</ul>
		</div>
	</div>
	{# <span class="articleId">ID: {{ entry.id }}</span> #}
</div>