{% set smallerGrid = 'gridSpan12 gridLgSpan10 gridLgStart2' %}

<div class="{{ smallerGrid }}">
<h1 class="topicTitle gridSpan12">{{ category.title }}</h1>
{% if category.fRichTextI18n %}
	<div class="topicLead gridSpan12">
		{{ category.fRichTextI18n }}
	</div>
{% endif %}

    {# Add filter buttons #}
    <div class="sectionFilter gridSpan12">
        <div class="btnGroup">
            <a href="{{ category.url }}" class="btn btnNeutral btnSmall{% if not sectionFilter %} active{% endif %}">{{ 'Alles' | t }}</a>
            <a href="{{ category.url }}?section=article" class="btn btnNeutral btnSmall{% if sectionFilter == 'article' %} active{% endif %}">{{ labelArticle }}</a>
            <a href="{{ category.url }}?section=news" class="btn btnNeutral btnSmall{% if sectionFilter == 'news' %} active{% endif %}">{{ labelNews }}</a>
        </div>
    </div>
</div>