{# Grabs the data from the seomaticPlugin site Identity #}
{% set esBase = seomatic.site.identity %}

<h2>{{ esBase.genericName }}</h2>
<p>
	{{ esBase.genericDescription}}
	<br>
	<a href="https://maps.app.goo.gl/PShPzUKfzG9prGedA" target="_blank" rel="noopener noreferrer">
		{{ esBase.genericStreetAddress }}
		<br>
		{{ esBase.genericAddressCountry }}
		–
		{{ esBase.genericPostalCode }}
		{{ esBase.genericAddressLocality }}
	</a>
</p>
<p>
	<a href="{{ esBase.genericEmail }}">{{ esBase.genericEmail | enkode }}</a>
	<br>
	<a href="{{ esBase.genericUrl }}">{{ esBase.genericUrl | replace({'https://' : '' })  | replace({'www.' : '' }) }}</a><br>
	<a href="tel:{{ esBase.genericTelephone }}">{{ esBase.genericTelephone | enkode }}</a>
</p>
