{% macro listMacro(queryParam, classCardParam) %}

	{% import '_macros/macroPostDate' as macroPostDate %}
	{% import '_macros/macroCatOverview' as macroCat %}


	{% set image = queryParam.fImgI18n.one() ?? null %}

	{# if there is a catchy title use this. otherwise fallback to regular title #}
	{% set cardTitle = queryParam.fPlainTextI18n ?: queryParam.title %}
	{% set newsCat = queryParam.fCatSubject ?? null %}

	<article class="previewCard previewNews {{ classCardParam }}">
		<div class="previewMetaHeader">
			{{ macroPostDate.postDate(queryParam) }}
			{{ macroCat.catOverview(newsCat, 'subject', 'news') }}
		</div>
		<h4 class="previewTitle">
			<a href="{{ queryParam.url }}">{{ cardTitle }}</a>
		</h4>
		<p class="lead">{{ queryParam.fSeoDescription}}</p>
		<div class="previewMetaFooter">
			<a href="{{ queryParam.url }}" class="btn btnSmall btnGotoRead">{{ 'Lesen' | t }}</a>
		</div>
	</article>
{% endmacro %}
