{% macro listMacro(queryParam, classParam) %}

	{% import '_macros/macroImage' as macro %}
	{% import '_macros/macroCatOverview' as macroCat %}
    {% import '_macros/macroPostDate' as macroPostDate %}


	{% set image = queryParam.fImgI18n.one() %}
	{% set catGenre = queryParam.fCatGenre ? queryParam.fCatGenre.all() : [] %}
	{% set catSubject = queryParam.fCatSubject ? queryParam.fCatSubject.all() : [] %}

	{# if there is a catchy title use this. otherwise fallback to regular title #}
	{% set cardTitle = queryParam.fPlainTextI18n ?? queryParam.title %}

	<article class="articlePreview previewSizeL {{ classParam }}">
		<a href="{{ queryParam.url }}" aria-label="{{ queryParam.title }}">
			{{ macro.articleImage(image, 'articleThumb', 'previewImg') }}
		</a>
		<div class="tags">
			{{ macroCat.catOverview(catGenre, 'genre', true) }}
			{{ macroCat.catOverview(catSubject, 'subject', true) }}
		</div>

		<div class="txtPart">
			<h2 class="previewTitle">
				<a href="{{ queryParam.url }}">{{ cardTitle }}</a>
			</h2>
			<p class="lead">{{ queryParam.fSeoDescription}}</p>
			<div class="previewPostDate">
				{{ macroPostDate.postDate(queryParam) }}
				{% include "_components/articlePreviewSunset.twig" %}
			</div>
		</div>
</article>{% endmacro %}
