{% macro listMacro(queryParam, classCardParam, classImgParam, classTxtParam) %}

	{% import '_macros/macroImage' as macro %}
    {% import '_macros/macroPostDate' as macroPostDate %}


	{% set image = queryParam.fImgI18n.one() %}

	{# if there is a catchy title use this. otherwise fallback to regular title #}
	{% set cardTitle = queryParam.fPlainTextI18n ?? queryParam.title %}

	<article class="articlePreview previewSizeL {{ classCardParam }}">

		<a href="{{ queryParam.url }}" aria-label="{{ queryParam.title }}" class="imgPart {{ classImgParam }}">
			{{ macro.articleImage(image, 'articleThumb', 'previewImg') }}
		</a>
		
		

		<div class="txtPart {{ classTxtParam }}">
			<div class="previewMetaHeader">
				{{ macroPostDate.postDate(queryParam) }}
				{% include "_components/articlePreviewSunset.twig" %}
			</div>
			<h2 class="previewTitle">
				<a href="{{ queryParam.url }}">{{ cardTitle }}</a>
			</h2>
			<p class="lead">{{ queryParam.fSeoDescription}}</p>
		</div>
	</article>
{% endmacro %}