{% macro listMacro(queryParam, classParam) %}
    {% import '_macros/macroPostDate' as macroPostDate %}



	{# if there is a catchy title use this. otherwise fallback to regular title #}
	{% set cardTitle = queryParam.fPlainTextI18n ?? queryParam.title %}

	<article class="previewSizeXS {{ classParam }}">
		{{ macroPostDate.postDate(queryParam) }}
			<h2 class="previewTitle">
				<a href="{{ queryParam.url }}">{{ cardTitle }}</a>
			</h2>
		<p class="lead">{{ queryParam.fSeoDescription }}</p>
	</article>
{% endmacro %}
