{% macro listMacro(queryParam, classCardParam) %}

	{% import '_macros/macroPostDate' as macroPostDate %}
	{% import '_macros/macroCatOverview' as macroCat %}


	{% set newsCat = queryParam.fCatSubject ?? null %}

	<article class="previewCard previewNews {{ classCardParam }}">
		<div class="txtPart">
			<div class="previewMetaHeader">
				{{ macroPostDate.postDate(queryParam) }}
				{{ macroCat.catOverview(newsCat, 'subject', 'news') }}
			</div>
			<h4 class="previewTitle">
				<a href="{{ queryParam.url }}">{{ queryParam.title }}</a>
			</h4>
			<p class="lead">{{ queryParam.fSeoDescription}}</p>
		</div>
	</article>
	
{% endmacro %}
