{% macro listMacro(queryParam, classParam) %}

	{% import '_macros/macroImage' as macroImg %}
	{% import '_macros/macroCatOverview' as macroCat %}
    {% import '_macros/macroPostDate' as macroPostDate %}

	{% set image = queryParam.fImgI18n.one() %}
	
	
	{# get related categories. if not defined, use empty array #}
	{% set catGenre = queryParam.fCatGenre ? queryParam.fCatGenre.all() : [] %}
	{% set catSubject = queryParam.fCatSubject ? queryParam.fCatSubject.all() : [] %}

	{# if there is a catchy title use this. otherwise fallback to regular title #}
	{% set cardTitle = queryParam.fPlainTextI18n ?? queryParam.title %}


	<article class="articlePreview previewSizeXL {{ classParam }}">
		<a href="{{ queryParam.url }}">
			{{ macroImg.articleImage(image, 'articleThumb', 'previewImg') }}
		</a>
		{# only show categories if there are any #}
		{% if catGenre or catSubject %}
			<div class="tags">
				{{ macroCat.catOverview(catGenre, 'genre', true) }}
				{{ macroCat.catOverview(catSubject, 'subject', true) }}
			</div>
		{% endif %}

		<div class="txtPart">
			<h2 class="previewTitle">
				<a href="{{ queryParam.url }}">{{ cardTitle }}</a>
			</h2>
			<p class="lead">{{ queryParam.fSeoDescription}}</p>
			<div class="previewPostDate">
				{{ macroPostDate.postDate(queryParam) }}
				{% include "_components/articlePreviewSunset.twig" %}
			</div>
		</div>

	</article>

{% endmacro %}
