{% macro listMacro(queryParam, classParam) %}

	{% import '_macros/macroCatOverview' as macroCat %}
    {% import '_macros/macroPostDate' as macroPostDate %}


	{% set catGenre = queryParam.fCatGenre.all() %}
	{% set catSubject = queryParam.fCatSubject.all() %}

	{# if there is a catchy title use this. otherwise fallback to regular title #}
	{% set cardTitle = queryParam.fPlainTextI18n ?? queryParam.title %}

	<article class="articlePreview previewSizeS {{ classParam }}">

		<div class="txtPart">
			<div class="tags">
				{{ macroCat.catOverview(catGenre, 'genre', true) }}
				{{ macroCat.catOverview(catSubject, 'subject', true) }}
			</div>
			<h2>
				<a href="{{ queryParam.url }}">{{ cardTitle }}</a>
			</h2>
			<div class="previewPostDate">
				{{ macroPostDate.postDate(queryParam) }}
				{% include "_components/articlePreviewSunset.twig" %}
			</div>
	</article>

{% endmacro %}
