{% import '_macros/macroGridClasses' as macro %}

{# Call the matrix article set #}
{% set articleMatrix = entry.fMxArticleBlocks.all() %}

{# loop trough all blocks #}
{% for block in articleMatrix %}

	{# check if there is a number set for grid placement. #}
	{% set gridStart = block.fGridStart ?? null %}
	{% set gridSpan = block.fGridSpan ?? null %}
	{% set vertPos = block.fVertPos.value ?? null %}

	{% set gridStartImg = block.fGridStartWide ?? null %}
	{% set gridSpanImg = block.fGridSpanWide ?? null %}

	{# switch trough all blocks. actual block code in partials #}
	{% switch block.type %}


		{% case "tSubtitle" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellSubtitle">
				{% include "_components/articleBlocks/cellSubtitle" %}
			</div>
		{% case "tBox" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellBox cellCard {{ 'style' ~ block.fStyling.value | upper }}">
				{% include "_components/articleBlocks/cellBox" %}
			</div>
		{% case "tTxtI18n" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellRichText">
				{% include "_components/articleBlocks/cellRichText" %}
			</div>
		{% case "tQuote" %}
			<div class="articleElement {{ macro.gridClasses(gridStartImg, gridSpanImg, null) }} cellQuote">
				{% include "_components/articleBlocks/cellQuote" %}
			</div>
		{% case "tArticleImg" %}
			<div class="articleElement {{ macro.gridClasses(gridStartImg, gridSpanImg, vertPos) }} cellImg">
				{% include "_components/articleBlocks/cellImg" %}
			</div>
		{% case "tArticleImgGallery" %}
			<div class="articleElement {{ macro.gridClasses(gridStartImg, gridSpanImg, vertPos) }} cellImgGallery">
				{% include "_components/articleBlocks/cellImgGallery" %}
			</div>
		{% case "tRelEntry" %}

			{# only render the aside if there is at least one live entry #}
			{% set relEntryQuery = block.fRelEntry.all() %}
			{% set liveEntries = relEntryQuery|filter(e => e.status == 'live') %}

    		{% if liveEntries|length %}
				<aside class="articleElement {{ macro.gridClasses(gridStartImg, gridSpanImg, vertPos) }} cellCard cellRelEntry">
					{% include "_components/articleBlocks/cellRelEntry" %}
				</aside>
			{% endif %}
		{% case "tLinks" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellLinkList">
				{% include "_components/articleBlocks/cellLinkList" %}
			</div>
		{% case "tMap" %}
			<div class="articleElement {{ macro.gridClasses(gridStartImg, gridSpanImg, vertPos) }} cellMap">
				{% include "_components/articleBlocks/cellMap" %}
			</div>
		{% case "tDocument" %}
			<div class="articleElement {{ macro.gridClasses(gridStartImg, gridSpanImg, vertPos) }} cellDownload cellCard {{ 'style' ~ block.fStyling.value | upper }}">
				{% include "_components/articleBlocks/cellDownload" %}
			</div>
		{% case "imgTxtFloat" %}
			<div class="articleElement {{ macro.gridClasses(gridStart, gridSpan, vertPos) }} cellImgTxtFloat">
				{% include "_components/articleBlocks/cellImgTxtFloat" %}
			</div>
	{% endswitch %}


{% endfor %}
