{% set accessMessage %}
    {% if not isSunset %}
        {{ 'Artikel für Nichtmitglieder noch' | t }} {{ daysLeft }} {{ 'Tage verfügbar.' | t }}
        <a href="https://www.espacesuisse.ch/de/verband/mitglieder">{{ 'Mitglied werden' | t }}</a>
    {% else %}
        {{ 'Artikel nur für Mitglieder verfügbar.' | t }}
        <a href="{{ url('member-login', {redirect: craft.app.request.url}) }}">{{ 'Loggen Sie sich ein' | t }}</a>. 
        <a href="https://www.espacesuisse.ch/de/verband/mitglieder">{{ 'Werden Sie Mitglied' | t }}</a>
    {% endif %}
{% endset %}

<p class="gridStart2 gridSpan9">{{ accessMessage|raw }}</p>