{% import '_macros/macroImage' as macroImg %}
{% import '_macros/macroCatOverview' as macroCat %}
{% import '_macros/macroPostDate' as macroPostDate %}


{% set articleGenre = entry.fCatGenre %}
{% set articleSubject = entry.fCatSubject %}
{% set aufmacherBild = entry.fImgI18n.one() %}

{% set smallerGrid = 'gridStart2 gridSpan10' %}

<div class="articleHeadImg">
	{{ macroImg.articleImage(aufmacherBild, 'articleStarterImg', 'imgHeader') }}
</div>

<div class="articleHeadTitle gridArticle">
<div class="{{ smallerGrid }} articleHeadDates">
	{{ macroPostDate.postDate(entry) }}
	{% include "_components/articleSunset" %}
	{% include "_components/articleShare" %}
</div>
<h1 class="{{ smallerGrid }} articleTitle">{{ entry.title }}</h1>
	{# Lead Text #}
	{% if entry.fPlainTextI18nMultiline %}
		<h3 class="{{ smallerGrid }} articleLeadText">{{ entry.fPlainTextI18nMultiline }}</h3>
	{% endif %}
	<div class="headMeta {{ smallerGrid }}">
		{% include "_components/articleHeadAuthors" %}
		<p>
			{{ macroCat.catOverview(articleGenre, 'genre', true) }}
			{{ macroCat.catOverview(articleSubject, 'subject', true) }}
			{{ entry.id }}
		</p>
	</div>
	
	

	

</div>
