{% set articleSunset = queryParam.postDate|date_modify('+' ~ siteBrand.fNumber ~ ' days') %}
{% set isSunset = articleSunset|date('U') < now|date('U') %}
{% set daysLeft = isSunset ? 0 : now.diff(articleSunset).days %}
{% set freeForAll = queryParam.fSwitch.value ?? queryParam.fSwitch %}

{% if freeForAll %}
	<p class="sunsetHint">{{ 'Artikel frei Verfügbar' | t }}.</p>
{% elseif isSunset %}
	<p class="sunsetHint">{{ 'Artikel nur noch für Mitglieder Verfügbar' | t }}.</p>
{% else %}
	<p class="sunsetHint">{{ 'Für Nichtmitglieder noch' | t }} {{ daysLeft }} {{ 'Tage verfügbar' | t }}.</p>
{% endif %}