{% set aufmacherBild = entry.fArticleImgI18n.one() %}
{% set articleGenre = entry.fCatGenre %}
{% set articleSubject = entry.fCatSubject %}

{% set catGenreElement %}
	{% for catItem in articleGenre %}
		{% if loop.first %}
			{{'Genre' | t}}:
		{% endif %}
		<a href="{{ catItem.url }}">{{ catItem.title }}</a>
	{% endfor %}
{% endset %}

{% set catSubjectElement %}
	{% for catItem in articleSubject %}
		{% if loop.first %}
			{{ 'Thema' | t }}:
		{% endif %}
		<a href="{{ catItem.url }}">{{ catItem.title }}</a>
	{% endfor %}
{% endset %}

<img src="{{ aufmacherBild.url }}" width="300" alt="" title="{{ aufmacherBild.title }}">

<h1>{{ entry.title }}</h1>

<p>{{ entry.author }}</p>
<p>{{ catGenreElement }}</p>
<p>{{ catSubjectElement}}</p>

<p>{{ entry.postDate | datetime('short') }}</p>

{# Lead Text #}
<h3>{{ entry.fPlainTextI18n }}</h3>