{% import '_macros/macroImage' as macro %}

{% set image = block.fArticleImgI18n.all() %}



{% for asset in image %}
    <div class="articleImg">
        {{ macro.articleImage(asset, 'articleImage', 'imgArticle') }}
        <p class="source">{{ asset.fPlainTxt }}{{ ', ' ~ asset.fTagProvider.one() }} {{ ' - ' ~ asset.imgLicence }}</p>
        {% if block.fPlainTextI18nMultiline %}
            <p class="caption">{{ block.fPlainTextI18nMultiline }}</p>
        {% endif %}
    </div>
{% endfor %}