{% import '_components/previewCards/macroPreviewNews' as macroPreviewNews %}

{% set listingNews = craft.entries().section('listingNews').one() %}

<section class="newsTeaser">
	<div class="listingGrid">
		{% for item in newsEntries %}

			{% if loop.first %}
				<h3 class="gridSpan12 topicTitle">{{ listingNews.title }}</h3>
			{% endif %}
			
			{{ macroPreviewNews.listMacro(item,'gridSpan12 gridMdSpan6 gridLgSpan4') }}

			{% if loop.last %}
				<div class="gridSpan12 gridMdSpan6 gridMdStart4">
					<a href="{{ listingNews.slug }}" class="btn gridSpan4">{{ 'Zu den' | t }} {{ listingNews.title }}</a>
				</div>
			{% endif %}

		{% endfor %}
	</div>
</section>
