{% set authorQuery = entry.authors %}

<ul class="articleAuthors gridStart2 gridSpan10">
	{% for item in authorQuery %}

		<li class="authorItem">
			{% if item.photo %}

				{# Transform the Authors Portrait #}
    			{% set portraitImage = craft.imagerx.transformImage(item.photo, 'authorPortrait')[0] %}

				<img src="{{ portraitImage.url }}" alt="{{ item.name }}">
			{% endif %}
				<div>
					<p class="authorName">{{ item.name|replace({' ': '&nbsp;'})|raw }}</p>
					<p class="authorMeta">
						{% for cat in item.fTeam %}
							<span class="authorTeam">{{ cat.title  ~ '.' }}</span>
						{% endfor %}
						{% if item.fPlainTextI18n2 %}<span class="authorEducation">{{ item.fPlainTextI18n2 ~ ',' }}</span>{% endif %}
						{% if item.fPlainTextI18n %}<span class="authorFunction">{{ item.fPlainTextI18n }}</span><br>{% endif %}
					</p>
				</div>
		</li>
	{% endfor %}
</ul>