
{% import '_macros/macroPostDate' as macroPostDate %}



{% set smallerGrid = 'gridStart2 gridSpan10' %}



<div class="articleHeadTitleCard gridArticle">
	<div class="gridStart2 gridSpan11 articleHeadDates">
		{{ macroPostDate.postDate(entry) }}
		{% include "_components/articleShare" %}
	</div>
	<h1 class="{{ smallerGrid }} articleTitle">{{ entry.title }}</h1>
	{# Lead Text #}
	{% if entry.fPlainTextI18nMultiline %}
		<h3 class="{{ smallerGrid }} articleLeadText">{{ entry.fPlainTextI18nMultiline }}</h3>
	{% endif %}
	<div class="headMeta {{ smallerGrid }}">
		{% include "_components/articleHeadAuthors" %}
	</div>
	
	<span class="articleId">ID: {{ entry.id }}</span>
</div>
