<div class="gridStart10 gridSpan2 shareArticle">
    <h3>Share this article</h3>
    <ul>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url }}" target="_blank">Facebook</a></li>
        <li><a href="https://twitter.com/intent/tweet?url={{ entry.url }}&text={{ entry.title }}" target="_blank">Twitter</a></li>
        <li><a href="https://www.instagram.com/?url={{ entry.url }}" target="_blank">Instagram</a></li>
        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ entry.url }}&title={{ entry.title }}" target="_blank">LinkedIn</a></li>
    </ul>
</div>