{% if craft.app.env != 'production' %}
	<div class="devBar">
		Env:
		{{ craft.app.env }}
		|
		Sprache: 
		{{ craft.app.language }} | 
		{% if entry.section.handle is defined %}
			Section:
			{{ entry.section.handle }}
		{% else %}
			Category:
			{{ category.group.handle ?? '?' }}
		{% endif %}
		|
		Current Site: {{ currentSite.handle }}
		{% if currentUser.username is defined %}
			User:
			{{ currentUser.username }}
		{% else %}
			Not logged in
		{% endif %}
		<span class="remUnits"></span>
	</div>
{% endif %}



{% js %}
	function updateViewportRem() {
		const span = document.querySelector('.remUnits');
		if (!span) return;

		const initialRootFontSize = 16; // match the initial <html> font-size in your CSS

		const viewportWidthRem = (window.innerWidth / initialRootFontSize).toFixed(2);
		const viewportHeightRem = (window.innerHeight / initialRootFontSize).toFixed(2);

		span.textContent = `${viewportWidthRem}rem × ${viewportHeightRem}rem`;
	}

	// Update on load
	updateViewportRem();

	// Update on resize
	window.addEventListener('resize', updateViewportRem);
{% endjs %}


{% css %}
	.devBar {
		z-index: 1000;
		position: fixed;
		bottom: 0;
		right: 0;
		background: #000;
		color: #fff;
		padding: 1em;
		font-size: 1.5rem;
		max-width: 100vw;
		overflow: hidden;
	}
	.remUnits {
		color: white;
	}
{% endcss %}
