{% import '_macros/macroLinkList' as listMacro %}
{% import '_macros/macroFields' as fieldsMacro %}

{% set labelSubject = 'Themen' %}
{% set labelGenre = 'Genres' %}

{% set queryFooterSubject = craft.categories.group('catSubject')
	.with(['title','url'])
	.relatedTo({ sourceElement: craft.entries.section('article') })
	.all() %}

{% set queryFooterGenre = craft.categories.group('catGenre')
	.with(['title','url'])
	.relatedTo({ sourceElement: craft.entries.section('article') })
	.all() %}

{% set querySubpages = craft.entries.section('subpages')
    .with(['title','url'])
    .all()
%}

{% set queryLatestArticle = craft.entries.section('article')
    .with(['title','url',])
    .limit('10')
    .all()
%}


<footer>

    <div class="footerContact gridRowStart2">
        {{ fieldsMacro.richText(footerGlobals.fRichTextI18n) }}
    </div>

    {{ listMacro.listMacro(queryFooterSubject, labelSubject, 'gridStart2','gridRowStart2') }}
    {{ listMacro.listMacro(queryFooterGenre, labelGenre, '','gridStart3') }}
    {{ listMacro.listMacro(queryLatestArticle, 'Die letzten Einträge' | t, 'gridStart4 gridRowStart1', 'entryList' ) }}
    {{ listMacro.listMacro(querySubpages, 'Subpages' | t, 'gridRowStart1 gridStart5' ) }}
    <div>
        <ul>
            {% for block in footerGlobals.fLinkList %}
                <li class="listItem">{{ block.fLinkI18n.link }}</li>
            {% endfor %}
        </ul>
    </div>
</footer>