{% import '_macros/macroLinkList' as listMacro %}
{% import '_macros/macroFields' as fieldsMacro %}
{% import '_macros/macroCatOverview' as macroCat %}

{% set labelSubject = 'Themen' %}
{% set labelGenre = 'Genres' %}

{% set queryFooterSubject = craft.categories.group('catSubject')
	.with(['title','url'])
	.relatedTo({ sourceElement: craft.entries.section('article') })
	.all() %}

{% set queryFooterGenre = craft.categories.group('catGenre')
	.with(['title','url'])
	.relatedTo({ sourceElement: craft.entries.section('article') })
	.all() %}

{% set querySubpages = craft.entries.section('subpages')
    .with(['title','url'])
    .all()
%}

{% set queryLatestArticle = craft.entries.section('article')
    .with(['title','url',])
    .limit('10')
    .all()
%}

{% set articleSearch = craft.entries.section('allArticles').with(['title','url']).one() %}


<footer>

	<div class="footerContact">
		{{ fieldsMacro.richText(footerGlobals.fRichTextI18n) }}
	</div>
	<div class="footerCategories">
        <h3 class="listTitle">{{ labelSubject }}</h3>
        {{ macroCat.catOverview(queryFooterSubject, 'subject', true) }}
	</div>
	<div class="footerCategories">
		<h3 class="listTitle">{{ labelGenre }}</h3>
        {{ macroCat.catOverview(queryFooterGenre, 'genre', true) }}
	</div>
	<div class="latestArticles">
		{{ listMacro.listMacro(queryLatestArticle, 'Die letzten Artikel' | t, null, 'entryList' ) }}
        <p class="listItem"><a href="{{ articleSearch.url }}" class="btn">{{ articleSearch.title }}</a></p>
	</div>
	<div>
		{{ listMacro.listMacro(querySubpages, 'Subpages' | t,) }}
	</div>
	<div>
		<ul>
			{% for block in footerGlobals.fLinkList %}
				<li class="listItem">{{ block.fLinkI18n.link }}</li>
			{% endfor %}
		</ul>
	</div>
</footer>
