{% if craft.app.env != 'production' %}
	<div class="devBar">
		Env:
		{{ craft.app.env }}
		|
		Sprache: 
		{{ craft.app.language }} | 
		{% if entry.section.handle is defined %}
			Section:
			{{ entry.section.handle }}
		{% else %}
			Category:
			{{ category.group.handle ?? '?' }}
		{% endif %}
		|
		Current Site: {{ currentSite.handle }}
		{% if currentUser.username is defined %}
			User:
			{{ currentUser.username }}
		{% else %}
			Not logged in
		{% endif %}
		<span class="remUnits"></span>
	</div>
{% endif %}


{% js %}
	function updateViewportRem() {
	const rootFontSize = parseFloat(getComputedStyle(document.documentElement).fontSize);
	const viewportWidthRem = (window.innerWidth / rootFontSize).toFixed(2);
	const viewportHeightRem = (window.innerHeight / rootFontSize).toFixed(2);

	const span = document.querySelector('.remUnits');
	if (span) {
		span.textContent = `${viewportWidthRem}rem × ${viewportHeightRem}rem`;
	}
	}

	// Update on load
	updateViewportRem();

	// Update on resize
	window.addEventListener('resize', updateViewportRem);

{% endjs %}

{% css %}
	.devBar {
		z-index: 1000;
		position: fixed;
		top: 0;
		right: 0;
		background: #000;
		color: #fff;
		padding: 1em;
		font-size: 1.5rem;
	}
	.remUnits {
		color: white;
	}
{% endcss %}
