
	{% import '_macros/macroPostDate' as macroPostDate %}

	{% set latestNews = craft.entries.section('news').limit(5).all() %}
	{% set latestArticles = craft.entries.section('articles').limit(5).all() %}
	<li class="navToplevelLink hasDropdown">
	

		<button class="dropdownLink" aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-menu">
			<span class="buttonTxt">Nav</span>
		</button>

		<div class="dropdown" id="dropdown-menu" role="menu">

			<div class="dropdownContents">
				<ul>
					{% include "_components/sideBar/homepageLink.twig" %}
					{% include "_components/sideBar/siteNavMoreLinks.twig" %}
					{% include "_components/sideBar/navLangSwitcher.twig" %}
				</ul>
				<div>
					{% for item in latestNews %}
						{% if loop.first %}
							<h2>{{ 'Neuste News' | t }}</h2>
						{% endif %}
						
						<a href="{{ item.url }}">
						{{ macroPostDate.postDate(item) }}
						{{ item.title }}
						</a>

					{% endfor %}
				</div>
				<div>
					
					{% for item in latestArticles %}
						{% if loop.first %}
							<h2>{{ 'NeusteArtikel' | t }}</h2>
						{% endif %}
						
						{{ macroPostDate.postDate(item) }}
						<a href="{{ item.url }}">{{ item.title }}</a><br>
					{% endfor %}
				</div>
				{% include "_components/formNewsletter/mailchimpForm" %}
			</div>

		</div>
	</li>