{# This macro is used to print out the category overview link #}
{# It takes the url params for the two languages and a class for the link #}
{# The label is taken from the translation file #}

{%- macro catOverview(catParam, classParam, linkParam) -%}
	{% for item in catParam %}
        {% set inlineStyle = item.fColor ? '--colorES-' ~ classParam ~ ':' ~ item.fColor ~ ';' : '' %}
	    <span class="tag {{ ' ' ~ classParam }}" style="{{ inlineStyle }}">
            {%- if linkParam == true -%}
                <a href="{{- item.url -}}">{{- item.title -}}</a>
            {%- else -%}
                {{- item.title -}}
            {%- endif -%}
        </span>
	{%- endfor -%}
{%- endmacro -%}

{% css %}
    :root {
        --colorES-subject: {{ catParam.fColor}};
    }
{% endcss %}

