{% macro figCaption(assetParam, captionParam, hasSourceParam) %}

        {% import '_macros/macroFields' as macroFields %}
	<figcaption>
		{% if captionParam %}
			<div class="caption">{{ captionParam }}</div>
		{% endif %}
        {% if hasSourceParam == false %}
                <p class="assetSource">
                ({{ 'Quelle' | t }}:
                {# Get image source information #}
                
                        {% for block in assetParam.fmImgSource.all() %}
                                {% switch block.type %}
                                        {% case "tMonolingual" %}
                                                {{ block.fPlainTxt ~ ', ' }}
                                        {% case "tMultilingual" %}
                                                {{ macroFields.richText(block.fPlainTextI18n ~ ', ') }}
                                {% endswitch %}
                        {% endfor %}

                        {%- if assetParam.fTagProvider.one() -%}{{- assetParam.fTagProvider.one() -}}{%- endif -%}
                        {%- if assetParam.fImgLicence.one() -%}{{- assetParam.fImgLicence.one() -}}{%- endif -%}

                )</p>
        {% endif %}
	</figcaption>
{% endmacro %}
