{%- macro dropdown(paramQuery, paramLabel) -%}
	<li class="hasDropdown">
		<button class="dropdownLink" aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-menu-{{ paramLabel | ascii }}">
			<span class="hideOnMobile">{{ paramLabel | t }}</span>
			<span class="hideOnDesktop"><img src="https://placehold.co/30x30" alt=""></span>
		</button>
		<ul class="dropdown" id="dropdown-menu-2" role="menu">
			{% for category in paramQuery %}
				{% set relatedArticle = craft.entries().section('article').relatedTo(category).limit(10).all() %}
				<li class="relatedNav">
					<h2><a href="{{ category.url }}">{{ category.title }}</a></h2>
					<ul>
						{% for item in relatedArticle %}
							<li><a href="{{ item.url }}">{{ item.title }}</a></li>
						{% endfor %}
							<li><a href="{{ category.url }}">{{ 'Alle Artikel' | t}}</a></li>
					</ul>
				</li>
			{% endfor %}
		</ul>
	</li>
{%- endmacro -%}
