{# This macro contains the constructed image tag with alt title image description and legends. 
for image transformations fo to config/imager-x-transform.php you can pass named transforms from there into this macro #}

{% macro articleImage(handleParam, transformKey) %}

    {% set altText = handleParam.fPlainTextI18nMultiline %}
    {% set imgTitle = handleParam.title %}
    {% set imgphotographer = handleParam.fPlainTxt %}
    {% set imgProvider = handleParam.fPlainTxt2 %}
    {% set imgLicence = handleParam.fPlainTxt3 %}

    <img src="{{ handleParam.url }}" alt="{{ altText }}" width="200" title="{{ imgTitle }}">
    
    <p>
        {{ imgphotographer }}
        {%- if imgProvider -%}
            {{- ', ' ~ imgProvider -}}
        {%- endif -%}
        {%- if imgLicence -%}
            {{- ' - ' ~ imgLicence  -}}
        {%- endif -%}
    </p>

{% endmacro %}