{% macro listMacro(queryParam, labelParam, titleClassParam, listClassParam) %}

	{% if queryParam %}

		{% if labelParam %}
			<h3 class="listTitle {{ titleClassParam }}">{{ labelParam | t }}</h3>
		{% endif %}


		<ul class="{{ listClassParam }}">
			{% for item in queryParam %}
				<li class="listItem">
					<a href="{{ item.url }}">{{ item.title }}</a>
				</li>
			{% endfor %}
		</ul>
		
	{% endif %}

{% endmacro %}
