{# This macro is used to print out the category overview link #}
{# It takes the url params for the two languages and a class for the link #}
{# The label is taken from the translation file #}

{%- macro catOverview(catParam, classParam, sectionParam) -%}

	{% import '_macros/macroImage' as macro %}

	{% for item in catParam %}

		{% set inlineStyle = item.fColor ? 'background-color:' ~ item.fColor ~ ';' : '' %}
		{% set fullTitle = item.title %}
		{% set sectionUrlSegment = sectionParam ? '?section=' ~ sectionParam %}
		{% set catIcon = item.fIcon.one() %}
		{% set svgCatIcon %}
			{%- if catIcon -%}
				{{ svg(catIcon) | attr({ class: 'catIcon' }) }}
			{%- endif -%}
		{% endset %}

		{%- if catIcon -%}
			<span class="tag {{ ' ' ~ classParam }}"> 
				<a href="{{- item.url ~ sectionUrlSegment-}}" style="{{ inlineStyle }}" class="hasIcon">{{ svgCatIcon }}<span class="catReveal">{{- fullTitle -}}</span></a>
			</span>
		{% else %}
			<span class="tag {{ ' ' ~ classParam }}"> 
				<a href="{{- item.url ~ sectionUrlSegment -}}" style="{{ inlineStyle }}">{{- fullTitle -}}</a>
			</span>
		{%- endif -%}

	{%- endfor -%}
{%- endmacro -%}