{% macro figCaption(assetParam, captionParam, hasSourceParam) %}
	<figcaption>
		{% if captionParam %}
			<p class="caption">{{ captionParam }}</p>
		{% endif %}
        {% if hasSourceParam == false %}
                <p class="assetSource">

                {# Get image source information #}
                
                
                        {% for block in assetParam.fmImgSource.all() %}
                                {% switch block.type %}
                                        {% case "tMonolingual" %}
                                                {{ block.fPlainTxt }}
                                        {% case "tMultilingual" %}
                                                {{ block.fPlainTextI18n }}
                                {% endswitch %}
                        {% endfor %}

                        {%- if assetParam.fTagProvider.one() -%}{{- ', ' ~ assetParam.fTagProvider.one() }}{%- endif -%}
                        {%- if assetParam.fImgLicence.one() -%}{{- '–' ~ assetParam.fImgLicence.one() }}{%- endif -%}

                </p>
        {% endif %}
	</figcaption>
{% endmacro %}
