{# This macro is used to print out the category overview link #}
{# It takes the url params for the two languages and a class for the link #}
{# The label is taken from the translation file #}

{%- macro catOverview(catParam, classParam, linkParam) -%}

	{% import '_macros/macroImage' as macro %}

	{% for item in catParam %}

		{% set inlineStyle = item.fColor ? 'background-color:' ~ item.fColor ~ ';' : '' %}
		{% set fullTitle = item.title %}
		{% set catIcon = item.fIcon.one() %}
		{% set svgCatIcon %}
			{%- if catIcon -%}
				{{ svg(catIcon) | attr({ class: 'catIcon' }) }}
			{%- endif -%}
		{% endset %}

			<span class="tag {{ ' ' ~ classParam }}" style="{{ inlineStyle }}"> 
            {%- if linkParam == true -%}
				<a href="{{- item.url -}}">
					{{ svgCatIcon }}
					{{- fullTitle -}}
				</a>
			{%- else -%}
				{{ svgCatIcon }}
				{{- fullTitle -}}
			{%- endif -%}
		</span>
	{%- endfor -%}
{%- endmacro -%}