

{% macro listMacro(queryParam, classParam) %}

    {% set catGenre = queryParam.fCatGenre.all() %}
    {% set catSubject = queryParam.fCatSubject.all() %}

    <article class="articlePreviewS {{ classParam }}">
        <a href="{{ queryParam.url }}">
            {% for cat in catGenre %}
                {{ cat.title }}
            {% endfor %}
            {% for cat in catSubject %}
                {{ cat.title }}
            {% endfor %}
            <h2>{{ queryParam.title }}</h2>
        </a>
    </article>
    
{% endmacro %}