

{% macro listMacro(queryParam, classParam) %}

    {% import '_macros/macroCatOverview' as macroCat %}

    {% set catGenre = queryParam.fCatGenre.all() %}
    {% set catSubject = queryParam.fCatSubject.all() %}

    <article class="articlePreview previewSizeS {{ classParam }}">
        <a href="{{ queryParam.url }}">

            {{ macroCat.catOverview(catGenre, 'genre') }}
            {{ macroCat.catOverview(catSubject, 'subject') }}

            <h2>{{ queryParam.title }}</h2>
        </a>
    </article>
    
{% endmacro %}