

{% macro listMacro(queryParam, classParam) %}

    {% import '_macros/macroImage' as macro %}
    {% import '_macros/macroCatOverview' as macroCat %}

    {% set image = queryParam.fArticleImgI18n.one() %}
    {% set catGenre = queryParam.fCatGenre.all() %}
    {% set catSubject = queryParam.fCatSubject.all() %}

    <article class="articlePreview previewSizeL {{ classParam }}">
        <a href="{{ queryParam.url }}">

            {{ macro.articleImage(image, 'articleThumb', 'previewImg') }}
            {{ macroCat.catOverview(catGenre, 'genre') }}
            {{ macroCat.catOverview(catSubject, 'subject') }}

            <h2>{{ queryParam.title }}</h2>
            <p class="lead">{{ queryParam.fSeoDescription}}</p>

        </a>
    </article>
    
{% endmacro %}