{% macro listMacro(queryParam, classParam) %}

	{% import '_macros/macroImage' as macro %}
	{% import '_macros/macroCatOverview' as macroCat %}
    {% import '_macros/macroPostDate' as macroPostDate %}


	{% set image = queryParam.fArticleImgI18n.one() %}
	{% set catGenre = queryParam.fCatGenre.all() %}
	{% set catSubject = queryParam.fCatSubject.all() %}

	<article class="articlePreview previewSizeL {{ classParam }}">

		<a href="{{ queryParam.url }}" aria-label="{{ queryParam.title }}">
			{{ macro.articleImage(image, 'articleThumb', 'previewImg') }}
		</a>
		<div class="tags">
			{{ macroCat.catOverview(catGenre, 'genre', true) }}
			{{ macroCat.catOverview(catSubject, 'subject', true) }}
		</div>

		<div class="txtPart">
			<h2>
				<a href="{{ queryParam.url }}">{{ queryParam.title }}</a>
			</h2>
			<p class="lead">{{ queryParam.fSeoDescription}}</p>
			{{ macroPostDate.postDate(queryParam) }}
		</div>
</article>{% endmacro %}
