{% set postUrlDe = 'https://espacesuisse.us18.list-manage.com/subscribe/post?u=0919d95bf074b70a2cd56687d&amp;id=977cadf3ca&amp;f_id=00f8a3e6f0' %}
{% set postUrlFr = 'https://espacesuisse.us18.list-manage.com/subscribe/post?u=0919d95bf074b70a2cd56687d&amp;id=cfbf9c235c&amp;f_id=00c2b0e6f0' %}
{% set honeypotDe = 'b_0919d95bf074b70a2cd56687d_977cadf3ca' %}
{% set honeypotFr = 'b_0919d95bf074b70a2cd56687d_cfbf9c235c' %}

{% if craft.app.language == 'de-CH' %}
	{% set postUrl = postUrlDe %}
	{% set honeypot = honeypotDe %}
{% else %}
	{% set postUrl = postUrlFr %}
	{% set honeypot = honeypotFr %}
{% endif %}


<div id="mc_embed_shell">
	<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
	<div id="mc_embed_signup">
		<form 
			action="{{ postUrl }}"
			novalidate
			method="post"
			id="mc-embedded-subscribe-form"
			name="mc-embedded-subscribe-form"
			target="_blank"
		>

			<div id="mc_embed_signup_scroll">
				<h2 class="formTitle">{{ 'Newsletter Abonnieren' | t }}</h2>
				<div class="mc-field-group">
					<label for="mce-EMAIL">{{ 'E-Mail' | t }}
						<span class="asterisk">*</span>
					</label>
					<input type="email" name="EMAIL" class="required email" id="mce-EMAIL" value="">
				</div>
				<div class="mc-field-group">
					<label for="mce-FNAME">{{ 'Vorname' | t }}</label>
					<input type="text" name="FNAME" class=" text" id="mce-FNAME" value="" required>
				</div>
				<div class="mc-field-group">
					<label for="mce-LNAME">{{ 'Nachname' | t }}</label>
					<input type="text" name="LNAME" class=" text" id="mce-LNAME" value="" required>
				</div>
				<div class="mc-field-group input-group">
					<ul>
						<li>
							<input type="checkbox" name="group[38936][1]" id="mce-group[38936]-38936-0" value="">
							<label for="mce-group[38936]-38936-0">{{ 'Newsletter Inforaum' | t }}</label>
						</li>
						<li>
							<input type="checkbox" name="group[38936][2]" id="mce-group[38936]-38936-1" value="">
							<label for="mce-group[38936]-38936-1">{{ 'Newsletter US Urteilssammlung' | t }}</label>
						</li>
					</ul>
				</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display: none;"></div>
					<div class="response" id="mce-success-response" style="display: none;"></div>
				</div>
				<div style="position: absolute; left: -5000px;" aria-hidden="true">
					<input type="text" name="{{ honeypot }}" tabindex="-1" value="">
				</div>
				<div class="clear"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="{{ 'Abonnieren' | t }}"></div>
				<p class="indicates-required">
					<span class="asterisk">*</span>
					{{ 'Angaben erforderlich' | t }}
				</p>
			</div>
		</form>
	</div>
</div>

{% include "_components/formNewsletter/mailchimpValidator" %}